---
import LitFooter from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import Timeline from "../components/Timeline.svelte";
import Popup from "../components/Popup.svelte";
// Supports weights 200-900
import "@fontsource-variable/nunito";
---

<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/LitterMorph/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <!-- <script src="../scripts/tracker.js"></script> -->
    <title>LitterMorph</title>
  </head>
  <body>
    <!-- <Popup client:only /> -->
    <Hero />
    <Timeline client:load />
    <LitFooter />
  </body>
</html>
