---
import LitFooter from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import Timeline from "../components/Timeline.astro";
---

<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/LitterMorph/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>LitterMorph</title>
  </head>
  <body>
    <script src="../scripts/tracker.js" is:inline></script>
    <Hero />
    <Timeline />
    <LitFooter />
    <button onclick="
    test()
    "> Hejsa klik mig</button>
  </body>
</html>
