---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="bg-primary">
		<h1 class="text-neutral-200 text-3xl p-3 font-serif">LitterMorph</h1>
        <div class="h-1 bg-secondary"></div>
        <h2 class="text-neutral-200 text-9xl p-4 font-serif">STAY<br>TUNED</h2>
        <div class="flex flex-row content-center align-middle justify-center">
            <div class="border-4 border-secondary rounded-[50px] bg-primary text-neutral-200 text-3xl p-10 m-4 hover:bg-primary-light transition-all duration-100 font-serif before:">
                Stay tuned
            </div>
        </div>
	</body>
</html>
