<div
  class="rounded-full aspect-square outline outline-2 outline-roman-coffee-300 bg-roman-coffee-600 text-tertiary-0 flex flex-col align-middle content-center items-center justify-center p-1"
>
  <p>
    <slot>0</slot>
  </p>
</div>
